if SHIELD_RERGO_LEFT

config ZMK_KEYBOARD_NAME
    default "rergo v3"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_RERGO_LEFT || SHIELD_RERGO_RIGHT

config ZMK_SPLIT
    default y

endif