#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <190>; // leave at 190
};

// layers
#define BASE 0
#define LEFT 1
#define RIGH 2

/ {

    keymap {
        compatible = "zmk,keymap";

// ---------------------    ---------------------
// | q | w | f | p | b |    | j | l | u | y | ; |
// | a | r | s | t | g |    | k | n | e | i | o |
// | z | x | c | d | v |    | m | h | , | . | / |
// --------|NON|TDL|SPC|    |RET|TDR|NON|--------
//         -------------    -------------

        default_layer {
            bindings = <
 &kp Q       &kp W      &kp F       &kp P      &kp B        &kp J   &kp L      &kp U       &kp Y      &kp SEMI
 &mt LSHFT A &mt LALT R &mt LCTRL S &mt LGUI T &kp G        &kp K   &mt LGUI N &mt LCTRL E &mt LALT I &mt LSHFT O
 &kp Z       &kp X      &kp C       &kp D      &kp V        &kp M   &kp H      &kp COMMA   &kp DOT    &kp FSLH
                        &none       &to LEFT   &kp SPACE    &kp RET &to RIGHT  &none
            >;
        };

// ---------------------    ---------------------
// | 1 | 2 | 3 | 4 | 5 |    | = | < | > | y | _ |
// | 6 | 7 | 8 | 9 | 0 |    | ? | ' | | | & | - |
// | ` | x | c | = | * |    | % | + | , | " | \ |
// --------|TRN|TRN|SPC|    |DEL|TRN|TRN|-------|
//         -------------    -------------

        left_layer {
            bindings = <
 &kp N1    &kp N2 &kp N3 &kp N4    &kp N5      &kp EQUAL &kp LT       &kp GT         &trans        &kp UNDER
 &kp N6    &kp N7 &kp N8 &kp N9    &kp N0      &kp QMARK &mt LGUI SQT &mt LCTRL PIPE &mt LALT AMPS &mt LSHFT MINUS
 &kp GRAVE &trans &trans &kp EQUAL &kp STAR    &kp PRCNT &kp PLUS     &trans         &kp DQT       &kp BSLH
                  &trans &trans    &trans      &kp DEL   &trans       &trans
            >;
        };

// ---------------------    ---------------------
// | ! | @ | [ | ] | ^ |    |PUP|BLN|NON|ELN| ; |
// | ~ | $ | ( | ) | # |    |PDN|LTA|DNA|RTA|UPA|
// | ` | x | { | } | * |    | m | h | , | . | / |
// --------|TRN|TRN|BSP|    |RET|TRN|TRN|-------|
//         -------------    -------------

        right_layer {
            bindings = <
 &kp EXCL        &kp AT        &kp LBKT       &kp RBKT      &kp CARET    &kp PG_UP &kp LC(A) &none    &kp LC(E) &trans
 &mt LSHFT TILDE &mt LALT DLLR &mt LCTRL LPAR &mt LGUI RPAR &kp HASH     &kp PG_DN &kp LEFT  &kp DOWN &kp RIGHT &kp UP
 &kp GRAVE       &trans        &kp LBRC       &kp RBRC      &kp STAR     &trans    &trans    &trans   &trans    &trans
                               &trans         &trans        &kp BSPC     &trans    &trans    &trans
            >;
        };
    };
};