// mouse movement
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <190>; // leave at 190
};

// layers
#define BLYR 0
#define LLYR 1
#define RLYR 2
#define NLYR 3
#define GLYR 4
#define SLYR 5

/ {

// ---------------------    ---------------------
// | 0 | 1 | 2 | 3 | 4 |    | 5 | 6 | 7 | 8 | 9 |
// | 10| 11| 12| 13| 14|    | 15| 16| 17| 18| 19|
// | 20| 21| 22| 23| 24|    | 25| 26| 27| 28| 29|
// | 30| 31| 32| 33| 34|    | 35| 36| 37| 38| 39|
// --------| 40| 41| 42|    | 43| 44| 45|--------
//         -------------    -------------
//
// Thumbs: 40 = layer tap-dance, 41 = space, 42 = navigation
//         43 = unused, 44 = enter, 45 = right layer
//
// The number row carries digits on the alpha layers and their shifted
// symbols (! @ # $ % ^ & * ( )) on the symbol/nav layers, so the symbol
// layers no longer need to duplicate them.
//
// Arrows sit entirely in the home row on both symbol layers (as in v3),
// reading PgDn <- v ^ ->: on the left hand in left_layer, on the right hand
// in right_layer, so whichever thumb is held the free hand can navigate.

    combos {
        compatible = "zmk,combos";

        combo_left_esc {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp ESC>;
        };

        combo_left_del {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp DEL>;
        };

        combo_left_tab {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp TAB>;
        };

        combo_left_home_tab {
            // lowered the timeout because it was being triggered too often
            timeout-ms = <20>;
            key-positions = <22 23>;
            bindings = <&kp TAB>;
        };

        combo_left_bspc {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&kp BSPC>;
        };
    };

    behaviors {
        tdll: tap_dance_layer_left {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LLYR>, <&to GLYR>, <&to SLYR>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

// ---------------------    ---------------------
// | 1 | 2 | 3 | 4 | 5 |    | 6 | 7 | 8 | 9 | 0 |
// | b | l | d | w | z |    | ' | f | o | u | j |
// | n | r | t | s | g |    | y | h | a | e | i |
// | q | x | m | c | v |    | k | p | , | . | / |
// --------|TDL|SPC|NAV|    |DEL|RET|RLY|--------
//         -------------    -------------
//         NAV = backspace on tap, navigation layer on hold


        graphite_layer {
            display-name = "Graphite";
            bindings = <
 &kp N1       &kp N2      &kp N3       &kp N4      &kp N5       &kp N6  &kp N7      &kp N8       &kp N9      &kp N0
 &kp B        &kp L       &kp D        &kp W       &kp Z        &kp SQT &kp F       &kp O        &kp U       &kp J
 &mt LSHFT N &mt LALT R &mt LCTRL T &mt LGUI S &kp G        &kp Y   &mt LGUI H &mt LCTRL A &mt LALT E &mt LSHFT I
 &kp Q        &kp X       &kp M        &kp C       &kp V        &kp K   &kp P       &kp COMMA    &kp DOT     &kp FSLH
                          &tdll        &kp SPACE   &lt NLYR BSPC    &kp DEL &kp RET     &mo RLYR
            >;
        };

// Symbols on the right hand, navigation on the left hand.
// ---------------------    ---------------------
// | ! | @ | # | $ | % |    | ^ | & | * | ( | ) |
// |TRN|HOM|TRN|END|PUP|    | = | < | > | y | _ |
// |UP |LFT|DWN|RGT|PDN|    | ? | ' | | | & | - |
// | ` |TRN|TRN| = | + |    | % | * |TRN| " | \ |
// --------|TRN|TRN|TRN|    |XXX|DEL|TRN|--------
//         -------------    -------------

        left_layer {
            display-name = "Left";
            bindings = <
 &kp EXCL  &kp AT    &kp HASH  &kp DLLR   &kp PRCNT    &kp CARET &kp AMPS     &kp STAR       &kp LPAR      &kp RPAR
 &trans    &kp HOME  &trans    &kp END    &kp PG_UP    &kp EQUAL &kp LT       &kp GT         &trans     &kp UNDER
 &kp UP    &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN    &kp QMARK &mt LGUI SQT &mt LCTRL PIPE &mt LALT AMPS &mt LSHFT MINUS
 &kp GRAVE &trans    &trans    &kp EQUAL  &kp PLUS     &kp PRCNT &kp STAR     &trans         &kp DQT       &kp BSLH
                     &trans    &trans     &trans       &none     &kp DEL      &trans
            >;
        };

// Brackets on the left hand, navigation on the right hand.
// ---------------------    ---------------------
// | ! | @ | # | $ | % |    | ^ | & | * | ( | ) |
// | < | > | [ | ] | | |    |PUP| ^A|XXX| ^E|TRN|
// | ~ | $ | ( | ) | # |    |PDN|LFT|DWN|RGT|UP |
// | ` | - | { | } | + |    |TRN| " |TRN|TRN| : |
// --------|TRN|BSP|TRN|    |XXX|TRN|TRN|--------
//         -------------    -------------

        right_layer {
            display-name = "Right";
            bindings = <
 &kp EXCL        &kp AT        &kp HASH       &kp DLLR      &kp PRCNT    &kp CARET &kp AMPS  &kp STAR &kp LPAR  &kp RPAR
 &kp LT          &kp GT        &kp LBKT       &kp RBKT      &kp PIPE     &kp PG_UP &kp LC(A) &none    &kp LC(E) &kp SEMI
 &mt LSHFT TILDE &mt LALT DLLR &mt LCTRL LPAR &mt LGUI RPAR &kp HASH     &kp PG_DN &kp LEFT  &kp DOWN &kp RIGHT &kp UP
 &kp GRAVE       &kp MINUS     &kp LBRC       &kp RBRC      &kp PLUS     &trans    &kp DQT  &trans   &trans    &kp COLON
                               &trans         &kp BSPC      &trans       &none     &trans   &trans
            >;
        };

// Mouse movement/click on the left hand, mods and media on the right.
// D=up, R=left, T=down, S=right; N=right click, C=left click.
// ---------------------    ---------------------
// | ! | @ | # | $ | % |    | ^ | & | * | ( | ) |
// |TRN|SUP| ^ |SDN|TRN|    |PRV|NXT|VDN|VUP| PP|
// |LCL| < | v | > |TRN|    |TRN|LAL|LCT|LGI|TRN|
// |TRN|TRN|TRN|RCL|TRN|    |TRN|TRN|BDN|BUP|TRN|
// --------|BLR|MUT|TRN|    |XXX|TRN|TRN|--------
//         -------------    -------------

        navigation_layer {
            display-name = "Navigation";
            bindings = <
 &kp EXCL   &kp AT         &kp HASH       &kp DLLR        &kp PRCNT     &kp CARET  &kp AMPS     &kp STAR       &kp LPAR      &kp RPAR
 &trans     &msc SCRL_UP   &mmv MOVE_UP   &msc SCRL_DOWN  &trans        &kp C_PREV &kp C_NEXT   &kp C_VOL_DN   &kp C_VOL_UP  &kp C_PP
 &mkp LCLK  &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans        &trans     &kp LALT     &kp LCTRL      &kp LGUI      &trans
 &trans     &trans         &trans         &mkp RCLK       &trans        &trans     &trans       &kp C_BRI_DN   &kp C_BRI_UP  &trans
                           &to BLYR       &kp C_MUTE      &trans        &none      &trans       &trans
            >;
        };

// ---------------------    ---------------------
// |ESC| 1 | 2 | 3 | 4 |    | 5 | 6 | 7 | 8 | 9 |
// |TAB| q | w | e | r |    | t | y | u | i | o |
// |SFT| a | s | d | f |    | g | h | j | k | l |
// |CTL| z | x | c | v |    | b | n | m | , | . |
// --------|TLR|SPC|BLR|    |XXX|RET|RLY|--------
//         -------------    -------------

        game_layer {
            display-name = "Game";
            bindings = <
 &kp ESC   &kp N1 &kp N2 &kp N3   &kp N4         &kp N5  &kp N6     &kp N7      &kp N8     &kp N9
 &kp TAB   &kp Q  &kp W  &kp E    &kp R          &kp T   &kp Y      &kp U       &kp I      &kp O
 &kp LSHFT &kp A  &kp S  &kp D    &kp F          &kp G   &mt LGUI H &mt LCTRL J &mt LALT K &mt LSHFT L
 &kp LCTRL &kp Z  &kp X  &kp C    &kp V          &kp B   &kp N      &kp M       &kp COMMA  &kp DOT
                  &mo LLYR &kp SPACE &to BLYR    &none   &kp RET    &to BLYR
            >;
        };

// ---------------------    ---------------------
// |TRN|TRN|TRN|TRN|TRN|    |TRN|TRN|TRN|TRN|TRN|
// |BTL|TRN|TRN|SUL|TRN|    |BCL|BT0|BT1|BT2|TRN|
// |TRN|TRN|TRN|TRN|TRN|    |TRN|TRN|TRN|TRN|TRN|
// |TRN|TRN|TRN|TRN|TRN|    |TRN|TRN|TRN|TRN|TRN|
// --------|BLR|TRN|TRN|    |XXX|TRN|TRN|--------
//         -------------    -------------

        system_layer {
            display-name = "System";
            bindings = <
 &trans      &trans &trans &trans         &trans    &trans     &trans       &trans       &trans       &trans
 &bootloader &trans &trans &studio_unlock &trans    &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans
 &trans      &trans &trans &trans         &trans    &trans     &trans       &trans       &trans       &trans
 &trans      &trans &trans &trans         &trans    &trans     &trans       &trans       &trans       &trans
                    &to BLYR &trans       &trans    &none      &trans       &trans
            >;
        };

    };
};
